.oscurecer-img{
    filter: brightness(50%);
  }

div.texto-centro-derecha{
  display: flex !important; 
  flex-direction: column;
  justify-content: center !important;
  text-align: right;
  height: 100%;
}

.ancho80{
  width: 80%;
  margin: 0 10%;
}

.textoCentrado{
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.negrita{
  font-weight: bold;
  font-size: 2rem;
}

.bordeBlanco{
  border-style: solid;
  border-width: thin;
  border-color: white;
}

.maxWidth{
  max-width: 102%;
}

.marginNone{
  margin: 0;
}

.margin1{
  margin-top: 3%;
}

.marginForm{
  margin: 2%;
}

.centerForm{
  text-align: center;
  display: flex;
  align-items: center;
}

#emailHelp{
  text-align: left !important;
}

.widthFormButton{
  width: fit-content !important;
}

.colorFooter{
  background: linear-gradient(to right, rgb(26, 82, 118),teal);
  color: white;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}

footer > div > div {
  margin: 1% !important;
}

#form{
  max-width: 95%;
  margin: 5%;
}

.NA{
  margin-bottom: 2%;
}